.parent {
  width: 100vw;
  min-height: 300px;
  max-height: auto;
  display: grid;
  justify-content: center;
  gap: 2em;
  grid-template-columns: repeat(3, 300px);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(190, 94, 94, 0.2);
}

.container {
  padding: 2px 16px;
}

img {
  /* width: 100%; */
  width: 400px;
  height: 250px;
}
.btn-img{
  width: 350px;
  height: 80px;
}
.input{
  width: 300px;
  padding: 5px;
margin-bottom: 15px;
}

#less-btn{
  display: none;
}
.hidden {
  display: none;

}

.normal {
  background: #000;
  color: aliceblue;
  padding: 1em 2em;
  border: none;
  outline: none;
}

.big {
  background-color: rgb(83, 12, 150);
  padding: 1.2em 2.4em;
  border: none;
  outline: none;
  color: aliceblue;
}

/* Slider */

.slider {
  width: 80%;
  height: 420px;
  background: #000;
  position: relative;
  margin: auto;
}

.slider img {
  width: 100%;
  height: 100%;
}

.rightArrow,
.lefttArrow {
  position: absolute;
  top: 50%;
  right: 2%;
  color: white;
  font-weight: bolder;
  background: #000000ac;
  width: 60px;
  height: 60px;
  font-size: 1.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lefttArrow {
  left: 2%;
  /* justify-content: flex-end; */
}

.rightArrow:hover {
  /* justify-content: flex-end; */
}
.lefttArrow:hover {
  /* justify-content: flex-start; */
}

/* 
@media (max-width : 500px){
  .slider{
    width: 98%;
    height: 250px;
  }
} */